.hero-section::after {
    top: 472px;
}

.hero-section {
    padding-bottom: 15px;
}

.hero-section .banner-content .bottom-btn {
    margin-top: 118px;
}

.secondary-text {
    font-size: 20px;
}

.main-heading {
    font-size: 45px;
    letter-spacing: -4%;
}

.primary-button {
    width: fit-content;

}

.hero-section .banner-content .top-content {
    max-width: 932px;
}

.hero-section .banner-content .top-content .title-top {
    font-family: 'Helvetica Now Display';
    font-weight: 400;
    font-size: 60px;
    letter-spacing: -3%;
    text-align: center;
    display: inline;
    color: #7282F2;
}


/* story card section */

.story-wrapper {
    position: relative;
    padding-bottom: 15px;
}

.story-wrapper-padding {
    padding: 0px 24px 0px 24px;
    background: transparent;
}

.story-wrapper::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 265px;
    width: 100%;
    background: linear-gradient(0deg,
            #FFFFFF 0%,
            rgba(255, 255, 255, 0) 100%);
    z-index: 3;
}

.story-wrapper .border-top {
    position: absolute;
    top: 74px;
    left: 0;
    right: 0;
    z-index: 0;
}

.story-section {
    position: relative;
}

.story-section .story-card {
    padding: 0px 0px 0px 0px;
    background-color: var(--white);
    z-index: 10;
    position: relative;
    padding: 20px;
}

.story-section .story-card .story-card-row .card-left {
    padding-left: 26px;
    padding-right: 6px;
}

.story-section .story-card .story-card-row .card-left .card-heading {
    color: #7282F2;
    font-family: 'Helvetica Now Display';
    font-weight: 500;
    font-size: 25px;
    letter-spacing: -3%;
    padding-bottom: 23px;
    margin-bottom: 0px;
}

.story-section .story-card .story-card-row .card-left .secondary-text {
    letter-spacing: -5%;
}

.story-section .story-card .story-card-row .card-left .main-heading {
    padding-bottom: 36px;
}

.story-section .story-card .story-card-row .card-left p:nth-child(3) {
    padding-bottom: 20px;
}

.story-section .story-card .story-card-row .card-right {
    background: linear-gradient(180deg, #BFC5FB 0%, #FFFFFF 100%);
    padding: 30px;
}

.story-section .story-card .story-card-row .card-right img {
    width: 100%;
    height: 100%;
}

/* Mission Vision section */
.mission-vision-Section {
    position: relative;
    z-index: 2;
}

.mission-vision-Section .mission-bottom-border {
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: -1;
}

.mission-vision-Section::before {
    content: "";
    position: absolute;
    top: -40%;
    left: 50%;
    transform: translateX(-50%);
    height: 120px;
    width: 100%;
    background: #7282F2;
    z-index: 1;
    filter: blur(404px);

}

.mission-vision-Section .intro-card {
    padding: 73px 44px 110px 44px;
    gap: 57px;
    height: 100%;
    background-image: linear-gradient(180deg,
            transparent 50%,
            #7282F2 50%,
            #FFFFFF 100%);
    background-size: 100% 210%;
    background-position: top;
    transition: background-position 0.6s ease;
}

.mission-vision-Section .intro-card:hover {
    background-position: bottom;
}

.inner-padding-mission-vision {
    padding: 0px 24px 0px 24px;
    background-color: transparent;
}

.mission-vision-Section .intro-card .number {
    font-family: 'Helvetica Now Display';
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -3%;
}

.mission-vision-Section .intro-card h6 {
    text-align: center;
    margin-top: auto;
    margin-bottom: 0;
    padding-bottom: 17px;
}

.mission-vision-Section .intro-card p {
    text-align: center;
    max-width: 580px;
    margin: 0 auto;
}

.mission-vision-Section .white-layer {
    position: relative;
    z-index: 1;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
}

/* Datasync Team section */

.datasync-team {
    padding-top: 89px;
    overflow: hidden;
}

.datasync-team .section-center-top {
    gap: 33px;
    padding-bottom: 33px;
}

.datasync-team .section-center-top .main-heading {
    font-size: 60px;
}

.datasync-team .section-center-top .secondary-text {
    font-size: 16px;
}

.team-section {
    background: linear-gradient(180deg, #7282F2 -65.86%, #FFFFFF 100%);
    padding: 50px 0;
}

.team-section .card-content {
    gap: 18px;
}

.team-section .white-bg {
    background-color: white;
    padding: 14px 20px 17px 20px;
    width: calc((100% - 40px) / 3);
}

.team-section .white-bg img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
}

.team-section .white-bg img {
    margin-bottom: 22px;
}

.team-section .white-bg .card-item {
    display: flex;
    justify-content: space-between;
    align-items: left;
    text-align: left;
}

.team-section .white-bg .card-item .card-right {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.team-section .white-bg .card-item .card-right h2 {
    color: #051336;
    font-family: 'Helvetica Now Display';
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -3%;
    margin: 0px;
}

.team-section .white-bg .card-item .card-right p {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -5%;
    margin: 0px;
}

.team-section .white-bg .card-item .img-linkdin {
    height: 47px;
    width: 47px;
    padding-bottom: 0px;
}

@media screen and (max-width: 1440px) {
    .hero-section .banner-content .top-content .title-top {
        font-size: 54px;
        line-height: 72px;
    }

    .hero-section::after {
        bottom: unset;
        top: 480px;
    }
}



@media screen and (max-width: 1280px) {
    .mission-vision-Section .intro-card {
        padding: 50px 20px 50px 20px;
    }

    .hero-section::after {
        top: 410px;
    }

    .story-section .story-card .story-card-row .card-left .main-heading {
        padding-bottom: 12px;
    }

    .story-section .story-card .story-card-row .card-left .card-heading {
        padding-bottom: 13px;
    }

    .story-section .story-card .story-card-row .card-left p:nth-child(3) {
        padding-bottom: 10px;
    }

    .story-section .story-card .story-card-row .card-left {
        padding-left: 14px;
    }

    .story-wrapper-padding {
        padding: 0;
    }

    .main-heading {
        font-size: 35px;
    }

    .team-section .white-bg img {
        max-height: 320px;
    }
}

@media screen and (max-width: 1200px) {
    .story-section .story-card .story-card-row .card-right {
        border-radius: 15px;
    }

    .story-section .story-card .story-card-row .card-right img {
        border-radius: 15px;
    }

    .story-section .story-card .story-card-row .card-left p:nth-child(3) {
        padding-bottom: 20px;
    }

    .story-section .story-card .story-card-row .card-left .main-heading {
        padding-bottom: 30px;
    }

    .story-section .story-card .story-card-row .card-left p:nth-child(4) {
        padding-bottom: 22px;
    }

    .story-section .story-card {
        padding-bottom: 33px
    }

    .story-section .story-card .story-card-row .card-left .card-heading {
        padding-top: 30px;
    }
}

@media screen and (max-width: 992px) {
    .mission-vision-Section::before {
        height: 300px;
        filter: blur(800px);
    }

    .mission-vision-Section .intro-card p {
        max-width: 100%;
    }

    .mission-vision-Section .intro-card {
        gap: 34px;
    }

    .datasync-team .section-center-top {
        gap: 24px;
    }

    .datasync-team .section-center-top .main-heading {
        font-size: 30px;
    }

    .story-section .story-card .story-card-row .card-left p:nth-child(4) {
        margin-bottom: 30px
    }

    .inner-padding-mission-vision {
        padding: 45px 15px 46px 15px;
    }

    .story-section .story-card .story-card-row .card-left {
        padding-bottom: 33px;
    }

    .story-wrapper {
        padding-bottom: 0px;
    }

    .team-section .white-bg {
        width: calc((100% - 20px) / 2);
    }
}

@media screen and (max-width: 768px) {
    .hero-section .banner-content .top-content .title-top {
        font-size: 44px;
        line-height: 64px;
    }

    .main-heading {
        font-size: 25px;
    }

    .story-section .story-card .story-card-row .card-left .main-heading {
        padding-bottom: 20px;
    }

    .story-section .story-card .story-card-row .card-left .card-heading {
        font-size: 20px;
    }

    .mission-vision-Section .intro-card {
        padding: 50px 30px 50px 30px;
    }

    .datasync-team .section-center-top .main-heading {
        font-size: 25px;
    }

    .datasync-team {
        padding-top: 29px;
    }

    .story-section .story-card .story-card-row .card-left {
        padding-bottom: 6px;
    }

    .team-section .white-bg img {
        max-height: 220px;
    }

    .secondary-text {
        font-size: 16px;
        letter-spacing: -5%;
        line-height: 20px;
    }
}


@media screen and (max-width: 520px) {
    .hero-section .banner-content .top-content .title-top {
        font-size: 28px;
        line-height: 38px;
        letter-spacing: -1%;
    }

    .story-section .story-card .story-card-row .card-left .card-heading {
        padding-top: unset;
    }

    .story-section .story-card .story-card-row .card-left p:nth-child(3) {
        padding-bottom: 18px;
    }

    .story-section .story-card .story-card-row .card-left .main-heading {
        padding-bottom: 26px;
    }

    .story-section .story-card .story-card-row .card-left .card-heading {
        font-size: 20px;
    }

    .story-section .story-card .story-card-row .card-left {
        padding: 17px 20px 0px 2px
    }

    .mission-vision-Section .intro-card {
        gap: 47px;
    }

    .mission-vision-Section .intro-card h6 {
        padding-bottom: 18px;
    }

    .mission-vision-Section .intro-card img {
        height: 60px;
        width: 60px;
    }

    .mission-vision-Section .intro-card {
        padding: 42px 32px 50px 27px;
    }

    .story-section .story-card .story-card-row .card-left {
        padding-bottom: 24px;
    }

    .team-section .white-bg {
        width: 100%;
    }

    .team-section .white-bg img {
        max-height: 320px;
    }

    .team-section .card-content {
        gap: 0;
    }

    .team-section .white-bg .card-item .card-right {
        gap: 4px;
    }

    .story-section .story-card .story-card-row .card-right {
        padding: 8px;
    }

    .story-section .story-card {
        padding-top: 13px;
    }

    .secondary-text {
        font-size: 14px;
        line-height: 18px;
    }

    .hero-section::after {
        bottom: unset;
        top: 302px;
    }

    .main-heading {
        font-size: 25px;
    }

    .story-section {
        margin-top: 58px;
    }

    .hero-section {
        border-bottom: 1px solid #eee;
    }

    .hero-section .banner-content .top-content h1 {
        font-size: 20px;
        line-height: 25px;
        letter-spacing: -1%;
    }

    .inner-padding-mission-vision {
        padding: 45px 15px 46px 15px;
    }

    .datasync-team {
        padding-top: 37px;
    }

    .datasync-team .section-center-top .secondary-text {
        font-size: 14px;
        max-width: 324px;
    }

}

@media screen and (max-width: 400px) {
    .hero-section .banner-content .top-content .title-top {
        font-size: 24px;
    }

    .hero-section {
        border-bottom: 1px solid;
    }

    .hero-section::after {
        top: 268px;
        height: 557px;
        background-image: url(./../images/performance-analyzer/performance-hero-bottom.svg);
    }

    .hero-section .banner-content .top-content .secondary-text {
        max-width: 330px;
        margin: auto;
    }

    .hero-section-wrapper::after {
        height: 142px;
        bottom: 0px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%);
        width: 100%;
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .hero-section-wrapper {
        position: relative;
    }
}