/* hero section  */

.hero-section-sync {
    position: relative;
}

.hero-section-sync::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    height: 785px;
    background-image: url(./../images/home/background-lines.svg);
    z-index: 1;
    background-position: center;
    background-size: cover;
}

/* sync ai section */
.sync-ai {
    padding-top: 206px;
    padding-bottom: 62px;
}

.sync-ai .custom-text {
    font-family: 'Inter';
    font-weight: 500;
    font-style: Medium;
    font-size: 35px;
    line-height: 30px;
    color: var(--light-purple);
    text-align: center;
}

.sync-ai .page-title {
    line-height: 93px;
}

.sync-ai .sync-ai-subtitle {
    margin-top: 42px;
    text-align: center;
}

.sync-ai .sync-ai-subtitle2 {
    max-width: 970px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.sync-ai .sync-ai-subtitle2 p:nth-child(2) {
    margin-top: 26px;
}

.sync-ai .sync-ai-subtitle2 p:nth-child(3) {
    margin-top: 21px;
}

/* Profit Optimizations section */

.Profit-Optimizations {
    position: relative;
}

.Profit-Optimizations .border-top {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
    z-index: 0;
}

.Profit-Optimizations .custom-container {
    position: relative;
    z-index: 1;
}

.Profit-Optimizations .custom-container .Profit-Optimizations-content {
    padding: 100px 93px;
    background: linear-gradient(180deg, #BFC5FB 0%, #FFFFFF 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Profit-Optimizations .custom-container .Profit-Optimizations-content img {
    width: 100%;
}

.Profit-Optimizations .custom-container .section-center-top {
    padding-top: 30px;
    padding-bottom: 101px;
    gap: 42px;
}

/* Expect from SYNC AI */
.Expect-from-Sync-AI-Section {
    position: relative;
    z-index: 2;
}

.Expect-from-Sync-AI-Section::before {
    content: "";
    position: absolute;
    top: 166px;
    left: 50%;
    transform: translateX(-50%);
    height: 214px;
    width: 750px;
    background: #7282F2;
    border-radius: 50%;
    z-index: 0;
    filter: blur(404px);
}

.Expect-from-Sync-AI-Section .intro-card {
    padding: 26px 49px 65px 18px;
    gap: 57px;
    height: 100%;
    background-image: linear-gradient(180deg,
            transparent 50%,
            #7282F2 50%,
            #FFFFFF 100%);
    background-size: 100% 210%;
    background-position: top;
    transition: background-position 0.6s ease;
}

.Expect-from-Sync-AI-Section .intro-card:hover {
    background-position: bottom;
}

.Expect-from-Sync-AI-Section .col-lg-6 {
    padding: 22px;
}

.Expect-from-Sync-AI-Section .intro-card .number {
    font-family: 'Helvetica Now Display';
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -3%;
}

.Expect-from-Sync-AI-Section .intro-card h6 {
    text-align: center;
    margin-top: auto;
    margin-bottom: 0;
    padding-bottom: 17px;
}

.Expect-from-Sync-AI-Section .intro-card p {
    text-align: center;
    max-width: 580px;
    margin: 0 auto;
}

.Expect-from-Sync-AI-Section .white-layer {
    position: relative;
    z-index: 1;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
}

/* business outcome section */
.business-outcome .outcome-inner-padding {
    padding-top: 81px;
    padding-bottom: 101px;
}

.business-outcome .outcome-inner-padding .section-center-top {
    gap: 42px;
}

.business-outcome .accordion-padding {
    padding: 20px;
}

.business-outcome .accordion-padding .accordion-background {
    background: linear-gradient(to bottom, #BFC5FB 0%, var(--white) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.business-outcome .accordion-padding .accordion-background .accordion-row {
    background-color: var(--white);
    border: 1px solid #E5A9E74D;
    border-radius: 25px;
    padding-top: 27px;
    margin: 38px 47px;
    --bs-gutter-x: 80px;
    display: flex;
    align-items: stretch;
}

.business-outcome .accordion-padding .accordion-background .accordion-row .accordion-right {
    background: linear-gradient(to bottom, #BFC5FB 0%, var(--white) 100%);
    padding: 0px 0px 80px 0px;
    padding-left: 0px;
    display: flex;
    align-items: flex-end;
}


.business-outcome .accordion-padding .accordion-background .accordion-row .accordion-right img {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    transform: translate(0px, 80px);
    display: block;
}

/* profit-section  */

.profit-section .profit-slider .profit-card {
    padding: 16px;
    background-color: #F0F1FE;
    border-radius: 100px;
    width: 100%;
    display: flex;
    gap: 28px;
    align-items: center;
    transition: background 0.5s ease;
}

.profit-section .profit-slider .owl-stage {
    padding: 89px 0;
}

.profit-section .profit-slider .owl-item.center .profit-card {
    background: linear-gradient(98.23deg, #7282F2 58.6%, #FFFFFF 128.92%);
    box-shadow: 30px 24px 44px 0px #7282F24D;
}

.profit-section .profit-slider .owl-item.center .profit-card p {
    color: var(--white);
}

.profit-section .profit-slider .profit-numbers {
    padding: 12px 28px;
    font-family: 'Helvetica Now Display';
    font-weight: 500;
    font-size: 35px;
    text-align: center;
    background-color: var(--white);
    border-radius: 100px;
    white-space: nowrap;
}

/* review section */
.review-section {
    padding: 60px 0px 67px 0px;
}

/* responsive design */

@media screen and (max-width: 1200px) {
    .Profit-Optimizations .custom-container .Profit-Optimizations-content {
        padding: 100px 50px;
    }

    .business-outcome .accordion-padding .accordion-background .accordion-row {
        --bs-gutter-y: 40px;
    }
}

@media screen and (max-width: 992px) {
    .sync-ai {
        padding-top: 168px;
    }

    .Expect-from-Sync-AI-Section::before {
        top: 463px;
        height: 420px;
        filter: blur(383px);
    }

    .business-outcome .outcome-inner-padding {
        padding-top: 58px;
        padding-bottom: 63px;
    }

    .business-outcome .accordion-padding .accordion-background .accordion-row .accordion-right img {
        transform: translate(0px, 40px);
    }

    .business-outcome .accordion-padding .accordion-background .accordion-row {
        --bs-gutter-x: 50px;
    }

    .profit-section .profit-slider .profit-numbers {
        font-size: 28px;
    }

}

@media screen and (max-width: 768px) {
    .sync-ai .custom-text {
        font-size: 26px;
    }

    .sync-ai .page-title {
        line-height: 63px;
    }

    .sync-ai .sync-ai-subtitle {
        margin-top: 16px;
    }

    .Profit-Optimizations .custom-container .Profit-Optimizations-content {
        padding: 70px 30px;
    }

    .Profit-Optimizations .custom-container .section-center-top {
        padding: 40px 32px 40px;
        gap: 14px;
    }

    .business-outcome .outcome-inner-padding .section-center-top {
        gap: 14px;
    }

    .Expect-from-Sync-AI-Section::before {
        width: 90%;
    }

    .business-outcome .accordion-padding .accordion-background .accordion-row {
        margin: 30px 30px;
        padding-top: 0px;
    }

    .profit-section .profit-slider .profit-numbers {
        font-size: 24px;
        padding: 8px 16px;
    }

    .profit-section .profit-slider .profit-card {
        gap: 16px;
    }

    .profit-section .profit-slider .owl-stage {
        padding: 60px 0;
    }

    .Expect-from-Sync-AI-Section .intro-card .primary-text {
        font-size: 20px;
    }
}

@media screen and (max-width: 520px) {
    .sync-ai .custom-text {
        font-size: 18px;
    }

    .sync-ai .page-title {
        line-height: 33px;
    }

    .hero-section-sync::before {
        background-image: url('./../images/home/background-lines-mobile.svg');
    }

    .page-title {
        font-size: 30px;
    }

    .sync-ai {
        padding-top: 127px;
        padding-bottom: 35px;
    }

    .sync-ai .sync-ai-subtitle2 p:nth-child(2) {
        margin-top: 20px;
    }

    .sync-ai .sync-ai-subtitle2 p:nth-child(3) {
        margin-top: 20px;
    }

    .Profit-Optimizations .custom-container .Profit-Optimizations-content {
        padding: 40px 20px;
    }

    .business-outcome .outcome-inner-padding {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .Expect-from-Sync-AI-Section .intro-card {
        padding: 26px 30px 20px 20px;
        gap: 34px;
    }

    .business-outcome .accordion-padding .accordion-background .accordion-row {
        --bs-gutter-y: 40px;
    }

    .business-outcome .accordion-padding .accordion-background .accordion-row {
        margin: 16px 0px;
        padding-left: 0px;
    }

    .profit-section .profit-slider .profit-numbers {
        font-size: 18px;
    }

    .profit-section .profit-slider .profit-card {
        padding: 10px;
    }

    .profit-section .profit-slider .owl-stage {
        padding: 40px 0;
    }
}